language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-23.0.1

    # The SDK version used to compile your project
    - android-23

    # Additional components
    # - extra-google-google_play_services
    # - extra-google-m2repository
    - extra-android-m2repository
    # - addon-google_apis-google-19
    
    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-23

env:
  global:
    # install timeout in minutes (2 minutes by default)
    - ADB_INSTALL_TIMEOUT=8

before_install:
 - chmod +x gradlew

# Emulator Management: Create, Start and Wait
before_script:
  # - echo no | android create avd --force --name test --target android-22 --abi armeabi-v7a
  # - emulator -avd test -no-skin -no-audio -no-window -gpu off -no-boot-anim &
  # - android-wait-for-emulator
  # - adb shell input keyevent 82 &

script:
  # - ./gradlew build connectedCheck
  - ./gradlew assembleDebug
