<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tlongdev.bktf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <provider
            android:name=".data.PriceListProvider"
            android:authorities="com.tlongdev.bktf"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name=".data.UserBackpackProvider"
            android:authorities="com.tlongdev.bktf.backpack"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.NotificationsService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.UpdateDatabaseService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".broadcastreceiver.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tlongdev.bktf.MainActivity" />
        </activity>

        <activity
            android:name=".UnusualActivity"
            android:label="@string/title_activity_unusual"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tlongdev.bktf.MainActivity" />
        </activity>

        <activity
            android:name=".UserInfoActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tlongdev.bktf.MainActivity" />
        </activity>

        <activity
            android:name=".ItemChooserActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_item_chooser"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tlongdev.bktf.MainActivity" />
        </activity>

        <activity
            android:name=".CreditsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_credits"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tlongdev.bktf.SettingsActivity" />
        </activity>

        <activity
            android:name=".UserBackpackActivity"
            android:label="@string/title_activity_user_backpack"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_activity_item_detail"
            android:parentActivityName=".UserBackpackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tlongdev.bktf.UserBackpackActivity" />
        </activity>

    </application>

</manifest>
