<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tlongdev.bktf"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="android.support.customtabs"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:name=".BptfApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".data.DatabaseProvider"
            android:authorities="com.tlongdev.bktf"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.UnusualActivity"
            android:label="@string/title_activity_unusual"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.UserActivity"
            android:label=""
            android:parentActivityName=".ui.activity.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SearchActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.ItemChooserActivity"
            android:label="@string/title_activity_item_chooser"/>
        <activity
            android:name=".ui.activity.UserBackpackActivity"
            android:label="@string/title_activity_user_backpack"/>
        <activity
            android:name=".ui.activity.ItemDetailActivity"
            android:label="@string/title_activity_item_detail"
            android:parentActivityName=".ui.activity.UserBackpackActivity"
            android:theme="@style/AppTheme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.UserBackpackActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:label=""
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.PriceHistoryActivity"
            android:label="@string/title_activity_price_history"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.SelectItemActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".ui.activity.ItemChooserActivity"
            android:theme="@style/AppTheme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ItemChooserActivity"/>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <receiver android:name=".widget.FavoritesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorites_widget_info"/>
        </receiver>

        <service
            android:name=".widget.FavoritesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.LicensesActivity"
            android:label="@string/title_activity_licenses"
            android:parentActivityName=".ui.activity.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.AboutActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.SearchFilterActivity"
            android:label="@string/title_activity_search_filter"
            android:parentActivityName=".ui.activity.SearchActivity"
            android:theme="@style/AppTheme.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SearchActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.WebActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <service android:name=".fcm.BptfMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.WebLoginActivity"
            android:parentActivityName=".ui.activity.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SettingsActivity"/>
        </activity>
    </application>

</manifest>