<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tlongdev.bktf">
    <application>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bfdf680832dd1c71d7b67b7e9e6d3e4a0107e18b" />
    </application>
</manifest>